@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.tes {
  border: 1px solid red;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  margin: 0px;
}

.box {
  height: 100vh;
}

.left {
  padding: 0;
  height: 100vh;
}
.right {
  height: 100vh;
}
.img-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.register-container {
  height: 100%;
}

.border-radius {
  border-radius: 16px;
}
.btn-register {
  background-color: #7126b5;
  color: white;
}

.title-register {
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
}
