.fox {
  border-bottom: 3px solid #eeeeee;
}

.search-input {
  width: 400px;
  height: 48px;
  color: #8a8a8a;
  background: #eeeeee;
  border-radius: 16px;
  padding: 10px;
}

.user-input:focus {
  border: none;
  outline: none;
}

@media only screen and (max-width: 576px) {
  .logo {
    display: none;
  }
  .fox {
    border-bottom: 0px;
  }
}
