$color-grey: #d0d0d0;
$color-purple: #7126b5;

.input-pic {
  border: 2px dashed $color-grey;
  width: 96px;
  padding: 30px;
  border-radius: 10px;
}

.input-pic i {
  cursor: pointer;
}

.button-size button {
  border: 1px solid $color-purple;
  width: 230px;
}

.product-upload-image {
  border: 2px dashed $color-grey;
  border-radius: 12px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .responsive-form {
    margin-top: 50px;
  }
}
