.img-user-offer {
  height: 60px;
  width: 70px;
  border-radius: 12px;
}

.nyoba {
  padding-left: 30px;
}

.custom-control-input {
  background-color: #c4c4c4;
  accent-color: green;
}

.custom-control-input:checked {
  background-color: #7126b5;
  border-color: #7126b5;
}

.alert1 {
  position: fixed;
  z-index: 999;
}
